.menu {
    display: flex;
}

#dashMenu {
    background-color: rgba(33,37,41,1.0);
    color: rgba(255,255,255,1.0);
}

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 768px) {

    #dashboard {
        display: flex;
        flex-direction: row;
        wrap: nowrap;
    }

    #dashMenu {
        display: flex;
        flex-direction: column;
        wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 196px;
        padding-left: 0;
        padding-right: 0;
    }

    #dashContent {
        display: flex;
        flex-direction: column;
        wrap: nowrap;
        width: calc(100% - 196px);
        padding: 24px;
        /* padding-left: 24px;
        padding-right: 24px; */
    }

    #dashContentHeader {
        padding-bottom: 16px;
    }



    .gradient {
        background: rgb(17,17,25);
        background: -moz-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
        background: -webkit-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
        background: linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111119",endColorstr="#3d4a62",GradientType=1);
    }

    .drop-shadow {
        box-shadow: 0px 0px 8px 0px rgba(2, 2, 2, 0.50);
    }

    

    #dashContentPortfolio {
        overflow: auto;
    }

    .menu.menu-wrapper {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    }
}