.public {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.public.open {
  width: 100%;
}

.public.menu-open {
  width: calc(100% - 196px);
}

.public.closed {
  width: 0%;
}

p {
  font-size: 1.2rem;
}

main {
  min-height: calc(100vh - 150px);
}

header {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

footer {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/* Header */
.navbar-brand > img {
  width: 140px;
  height: auto;
}

/* Root Content */
.jumbotron {
  height: 300px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.image {
  margin-top: -72%;
  margin-bottom: 4%;
}

.image-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.portrait {
  height: 300px;
  border: 5px solid rgba(255,255,255,1);
  border-radius: 50%;
}

.content {
  padding-left: 12px;
  padding-right: 12px;
}

.p-header {
  text-align: center;
}

.p-header > h1 {
  line-height: 1.6;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 16px;
}

.p-header > h3 {
  line-height: 1.4;
  font-size: 20px;
  margin-bottom: 16px;
}

.links a {
  margin: 4px 16px;
  padding: 24px 8px;
}

.card {
  min-height: 200px;
  margin: 10px 0;
  border-radius: 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.card-content {
  color: rgba(255,255,255,0.95);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 10px 25px;
  text-decoration: none;
  text-shadow: 0px 0px 13px rgba(0,0,0,0.65);
}

.card-content:hover {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.65);
}

.card-content h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.card-content p {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0;
}


@media screen and (min-width: 400px) {

  .image {
    margin-top: -54%;
    
  }

  .portrait {
    height: 320px;
  }

}

@media screen and (min-width: 500px) {

  .image {
    margin-top: -40%;
    
  }

  .portrait {
    height: 340px;
  }
  
}


/* TABLETS AND LARGER */
@media screen and (min-width: 768px) {

  p {
    font-size: 1.1rem;
  }

  .navbar-brand > img {
    width: 148px;
  }

  .navbar-nav > a {
    font-size: 1.3rem;
    margin: 0 18px;
    padding: 28px 36px;
  }

  .jumbotron {
    height: 280px;
  }

  .image {
    margin-top: -32%;
  }

  .image-wrapper {
    padding-right: 36px;
    justify-content: end;
  }

  .portrait {
    height: 328px;
  }

  .content {
    margin-top: -14%;
  }

  .content .p-header {
    text-align: left;
  }

  .p-header > h1 {
    line-height: 1.4;
  }
  
  .p-header > h3 {
    line-height: 1.3;
  }

}

@media screen and (min-width: 1024px) {

  .portait {
    height: 300px;
  }

  .image {
    margin-top: -24%;
  }

  .image-wrapper {
    padding-right: 40px;
  }

  .content {
    margin-top: -12%;
  }

  .card-content h2 {
    font-size: 1.6rem;
  }

  .p-header > h1 {
    line-height: 1.6;
  }

  .links {
    margin-top: 24px;
    margin-bottom: 24px;
  }

}

@media screen and (min-width: 1200px) {

  p {
    font-size: 1.2rem;
  }

  .navbar-brand > img {
    width: 160px;
  }

  .jumbotron {
    height: 360px;
  }

  .image-wrapper {
    padding-right: 100px;
  }

  .portrait {
    height: 360px;
  }

  .content {
    margin-top: -10%;
  }

  .p-header > h1 {
    font-size: 2.5rem;
    line-height: 1.4;
  }

  .card-content {
    min-height: 240px;
  }

}

@media screen and (min-width: 1400px) {

  /* .content {
    margin-top: -10%;
  } */

  .portrait {
    height: 420px;
  }


}
  