.public {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}

.public.open {
  width: 100%;
}

.public.menu-open {
  width: calc(100% - 196px);
}

.public.closed {
  width: 0%;
}

p {
  font-size: 1.2rem;
}

main {
  min-height: calc(100vh - 150px);
}

header {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

footer {
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

/* Header */
header .navbar-nav .nav-link {
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 1.4rem;
}

header .navbar-brand > img {
  width: 196px;
  height: auto;
}


/* Root Content */

.page-wrapper {
  font-size: 1.2rem;
}

.jumbotron, 
.jumbotron > div,
.jumbotron > div > div,
.jumbotron-content,
.jumbptron-content > div,
.jumbptron-content .title h1,
.jumbptron-content .title h1 span {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.jumbotron {
  margin-bottom: 200px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.jumbotron-content {
  height: 300px;
  padding-top: 100px;
  text-align: center;
}

.jumbotron-content .title h1 {
  font-size: 1.8rem;
  font-weight: 700;
}

.jumbotron-content .image-wrapper img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 10px solid rgba(255,255,255,1);
}

.bio, .tech, .link {
  padding-left: 16px;
  padding-right: 16px;
}

.links a {
  margin: 4px 16px;
  padding: 24px 8px;
}

.card {
  min-height: 200px;
  margin: 10px 0;
  border-radius: 0;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.card-content {
  color: rgba(255,255,255,0.95);
  min-height: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  padding: 10px 25px;
  text-decoration: none;
  text-shadow: 0px 0px 13px rgba(0,0,0,0.65);
}

.card-content:hover {
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.65);
}

.card-content h2 {
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
  text-align: center;
}

.card-content p {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0;
}


/* TABLETS AND LARGER */
@media screen and (min-width: 768px) {

  header .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  header .navbar-nav {
    margin-left: auto;
  }

  header .navbar-nav .nav-link {
    font-weight: 400;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 1.3rem !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
  }

  .jumbotron {
    margin-bottom: 168px;
  }

  .jumbotron-content {
    text-align: left;
    padding-left: 24px;
    padding-right: 24px;
  }

  .jumbotron-content .image-wrapper {
    width: 60%;
    flex-direction: row;
    justify-content: end;
    padding-right: 36px;
  }

  .jumbotron-content .title {
    width: 40%;
    flex-direction: column;
  }

  .jumbotron-content .title h1 {
    font-size: 2.2rem;
    justify-content: end;
    padding-bottom: 36px;
    padding-left: 24px;
  }

  .jumbotron-content .title h1 span {
    margin-top: 8px;
  }

  .order-last {
    order: 0 !important;
  }

  .jumbotron-content .image-wrapper img {
    height: 360px;
    width: 360px;
  }

  .bio, .tech, .link {
    padding-left: 24px;
    padding-right: 24px;
  }
}

/* Horizontal Tablet */
@media screen and (min-width: 992px) {

  .jumbotron-content {
    width: 90% !important;
    margin-left: auto;
    margin-right: auto;
  }

  .page-wrapper {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
}


/* Large Screens */
@media screen and (min-width: 1200px) {

  .page-wrapper {
    max-width: 1140px;
  }

}

/* Extra Large Screens */
@media screen and (min-width: 1400px) {
  .page-wrapper {
    max-width: 1320px;
  }
}
  