#dashMenu {
    background-color: rgba(33,37,41,1.0);
    color: rgba(255,255,255,1.0);
}

/* Cards */

/* .card-wrapper .card {
    border-radius: 0;
    height: 200px;
    overflow: hidden;
    margin-bottom: 24px;
}

.card-wrapper > .card > .status {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card-wrapper > .card .status:hover {
    background:linear-gradient(0deg, rgba(7, 6, 44, 0.3), rgba(7, 6, 44, 0.3)) !important;
} */

/* Brand - should be elsewhere */

.brand {
    max-width: 200px;
    height: auto;
}


/* Styling Utilities */
.gradient {
    background: rgb(17,17,25);
    background: -moz-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    background: -webkit-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    background: linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111119",endColorstr="#3d4a62",GradientType=1);
}

.drop-shadow {
    box-shadow: 0px 0px 8px 0px rgba(2, 2, 2, 0.50);
}



/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 768px) {

    /* #dashboard {
        display: flex;
        flex-direction: row;
        wrap: nowrap;
    }

    #dashMenu {
        display: flex;
        flex-direction: column;
        wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 196px;
        position: fixed;
        left: 0;
        top: 0;
    } */

    /* #dashMenu .menu-wrapper {
        flex-direction: column !important;
        align-items: center;
        justify-content: center;
    } */

    /* #dashContentHeader, .dash-actions {
        padding-bottom: 20px;
    }

    #dashContentHeader h1 {
        margin-bottom: 0;
    } */

    #dashContent {
        height: 100vh;
        width: calc(100% - 196px);
        overflow-y: auto;
        position: fixed;
        right: 0;
        top: 0;
    }

    #dashContent > div {
        position: relative;
        display: flex;
        flex-direction: column;
        wrap: nowrap;
        padding: 24px;
    }

    /* .card-wrapper {
        width: 33%;
    } */

}


@media screen and (min-width: 980px) {

}

/* @media screen and (min-width: 1280px) {
    .card-wrapper {
        width: 25%;
    }
} */