.private {
    display: flex;
    flex-direction: row;
    wrap: nowrap;
}

.private-menu {
    display: flex;
    flex-direction: column;
    wrap: nowrap;
    background: rgb(17,17,25);
    background: -moz-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    background: -webkit-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    background: linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111119",endColorstr="#3d4a62",GradientType=1);
}

.private-menu .menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.private-content {
    display: flex;
    flex-direction: column;
    wrap: nowrap;
    height: 100vh;
    overflow-y: auto;
    padding: 24px;
}

.private-content > div {
    margin: 0;
    padding: 0;
}

.private-header, .dash-actions {
    padding-bottom: 20px;
}

.private-header h1 {
    margin-bottom: 0;
}

.card-wrapper .card {
    border-radius: 0;
    height: 200px;
    overflow: hidden;
    margin-bottom: 24px;
}

.card-wrapper > .card > .status {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card-wrapper > .card .status:hover {
    background:linear-gradient(0deg, rgba(7, 6, 44, 0.3), rgba(7, 6, 44, 0.3)) !important;
}

/* Utilities */
.drop-shadow {
    box-shadow: 0px 0px 8px 0px rgba(2, 2, 2, 0.50);
}

.gradient {
    background: rgb(17,17,25);
    background: -moz-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    background: -webkit-linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    background: linear-gradient(35deg, rgba(17,17,25,1) 0%, rgba(27,27,41,1) 48%, rgba(61,74,98,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111119",endColorstr="#3d4a62",GradientType=1);
}

/* MEDIA QUERY FOR TABLETS AND LARGER */
@media screen and (min-width: 768px) {

    .private.open {
        width: 100%;
    }
    
    .private.menu-open {
        width: 196px;
    }
    
    .private.closed {
        width: 0%;
    }

    .private-menu {
        height: 100vh;
        width: 196px;
        min-width: 196px;
        padding: 12px;
    }

    .private-menu .menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menuActions {
        margin-bottom: 12px;
    }

    .card-wrapper {
        width: 33%;
    }
}

@media screen and (min-width: 1280px) {
    .card-wrapper {
        width: 25%;
    }
}